html {
    background-color: #ADA996;
}

h1 {
    padding-top: 0.0125em;
    padding-bottom: 0.0125em;
}

img {
    padding-bottom: 0em;
    border: solid 1px grey;
}

#interesting-fact {
    font-style: italic;
}

span {
    font-weight: bold;
}

ul {
    padding-bottom: 1em;
}

li {
    list-style-type: none;
}

#container {
    display: block;
    text-align: center;
    border: 2px solid rgba(153, 148, 153, 1);
    width: 450px;
    margin: auto;
    box-shadow: 11px 9px 16px -4px rgba(153, 148, 153, 1);
    padding: 1px 1px 1px 1px;
}

.animal-info {
    text-align: center;
    border: 2px solid rgba(153, 148, 153, 1);
    padding-top: 1em;
}

#facts {
    display: block;
    text-align: left;
    padding-left: 7em;
}

#summary {
    text-align: left;
}